@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

@keyframes pen-write {
  0% {
    stroke-dashoffset: 300;
    opacity: 1;
  }
  25% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  45% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  50% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}

.animate-pen-write-stroke {
  animation: pen-write-stroke 8s ease-in-out infinite;
}

@keyframes pen-write-stroke {
  0% {
    stroke-dashoffset: 300;
    opacity: 1;
  }
  25% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  45% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  50% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}

@keyframes drop-in-1 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  55% {
    opacity: 0;
    transform: translateY(-20px);
  }
  60% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes drop-in-2 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  65% {
    opacity: 0;
    transform: translateY(20px);
  }
  70% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes drop-in-3 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  80% {
    opacity: 0;
    transform: translateY(-20px);
  }
  85% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.animate-drop-in-1 {
  animation: drop-in-1 8s ease-in-out infinite;
}

.animate-drop-in-2 {
  animation: drop-in-2 8s ease-in-out infinite;
}

.animate-drop-in-3 {
  animation: drop-in-3 8s ease-in-out infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-fade {
  animation: fade 8s ease-in-out infinite;
}
